<div id="overview" style="width: 100%; margin: 0 auto; ">
<!--    <img style="margin-top: 50px; " src="/assets/img/index/1.png" />-->
    <div style="position: relative; ">
        <img style="margin-top: 50px;  " src="/assets/img/index/2.png" />
        <div style="width: 10%; text-align: center; ">
            <a style="position: absolute; top: 50%; left: 45%; color: #062c33; " href="http://en.hongkezhang.com" target="_blank">
                Amazing Magazine ></a>
        </div>
    </div>

    <img style=" " src="/assets/img/index/3.png" />
</div>

<style type="text/css">
    #overview img {
        width: 100%;
        margin-bottom: 50px ;
    }
</style>